* {
    box-sizing:border-box;
    }
    
    body {
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      padding:0;
      margin:0;
    }
    
    #main {
    background-color:rgb(238,238,238);
    margin:40px 10px;
    padding:40px 5px;
    border-radius:5px;
    }
    
    .header {
      width:100%;
      text-align:center;
    }
    
    #title {
      padding:10px 0;
    }
    
    #img-div {
      overflow:hidden;
      background-color:white;
      text-align:center;
    }
    #image {
      display:block;
      max-width:100%;
      height:auto;
    }
    
    #image, #img-caption {
      margin:7px auto;
    }
    
    section:last-of-type {
      border:1px solid black;
      margin:30px 0 0;
    }
    
    #tribute-info {
      text-align:center;
    }
    
    .tribute-date {
      margin:50px auto 0;
      width:100%;
      max-width:600px;
    }
    
    .tribute-date > ul >li {
      margin:20px 0;
    }
    
    span { font-weight:bold;
    }
    
    cite > p {
      max-width:500px;
      margin:0 auto 20px;
      /* border:1px solid black; */
    }
    
    h3 {
      text-align:center;
      margin: 50px 0 0;
    }
    #tribute-link {
    text-decoration:none;
    }